<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jika file atau folder nyata ada, lewati aturan
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Arahkan semua permintaan ke index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
